{% set this_page = "index.html" if this_page is not defined else this_page %}
{% extends "base.html.jinja" %}

{% block body %}
<div class="py-5 text-center">
  <img class="d-block mx-auto mb-4" src="{{ static_base }}/static/{{ _site_name[0] }}.png" alt="" width="72" height="72">
  <h2>Welcome to AstroNav!</h2>
  <p class="lead">Want see the existing routes?  <a href="{{base_path}}/route_list.html">Click here.</a></p>
  <p class="lead">Want to create a new route?  <a href="{{base_path}}/new_route.html">Click here.</a></p>
</div>
{% endblock %}
