{% set this_page = "new_route.html" if this_page is not defined else this_page %}
{% extends "base.html.jinja" %}

{% block css_block %}
<link href="{{ static_base }}/static/css/gmaps.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="py-5">
  <header class="align-center">
    <h2>{{ message_title }}</h2>
  </header>
  <div id="places">
    <form onsubmit="addRoute();return false;">
      Enter locations:<br>
      <textarea name="placesArea" id="placesArea" rows="10" cols="100">River Field 400-442 N 24th St Philadelphia, PA 19130
3111 W Lehigh Ave, Philadelphia, PA 19132
2900 State Rd, Drexel Hill, PA 19026
Spring Garden St, Philadelphia, PA 19130
Reservoir Dr, Philadelphia, PA 19119
1 Lincoln Financial Field Way, Philadelphia, PA 19148</textarea><br>
      Return to start: <input type="checkbox" id="returnToStart" checked><br>
      <input type="submit">
    </form>
  </div>
  <div class="py-5 text-center">
    Some notes:<br>
    -The first address in the list is the start point.<br>
    -If 'Return to start' is not checked, the last address in the list is the end point.<br>
    -If 'Return to start' is checked, the first address is also used as the end point.<br>
    -All locations other than the start and end will likely be reordered to minimize travel time.<br>
    -The 'Route ID' that gets assigned to the route after creation is random and uniquely identifies this set of addresses.  You don't really need to think about it other than using it to link to the route.<br>
  </div>
</div>
<script>
function addRoute() {
    var addrs = document.getElementById("placesArea").value.trim().split(/\r?\n/);
    if (document.getElementById("returnToStart").checked && addrs[0] != addrs[addrs.length-1]) {
        addrs.push(addrs[0]);
    }
    console.log(addrs);
    var request = {addresses: addrs};
    console.log("REQUEST:");
    console.log(request);

    // https://stackoverflow.com/questions/6396101/pure-javascript-send-post-data-without-a-form
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (this.readyState != 4) {return;}
        if (this.status == 200) {
            console.log(this);
            console.log(this.responseText);
            var data = JSON.parse(this.responseText);
            console.log("RESPONSE:");
            console.log(data);
            if ('redirect' in data) {
                window.location.replace(data['redirect']);
            }
        }
    };
    xhr.open("POST", "{{ base_path }}/store_route", true);
    xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    xhr.send(JSON.stringify(request));
}
</script>

{% endblock %}
