{% set this_page = "new_route.html" if this_page is not defined else this_page %}
{% extends "base.html.jinja" %}

{% block css_block %}
<link href="{{ static_base }}/static/css/gmaps.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="py-5">
  <header class="align-center">
    <h2>{{ message_title }}</h2>
  </header>
  <div id="places">
    <form onsubmit="addRoute();return false;">
      Enter locations:<br>
      <textarea name="placesArea" id="placesArea" rows="10" cols="100">{% if addresses is defined and addresses %}{{addresses}}{% else %}River Field 400-442 N 24th St Philadelphia, PA 19130
3111 W Lehigh Ave, Philadelphia, PA 19132
2900 State Rd, Drexel Hill, PA 19026
Spring Garden St, Philadelphia, PA 19130
Reservoir Dr, Philadelphia, PA 19119
1 Lincoln Financial Field Way, Philadelphia, PA 19148{% endif %}</textarea><br>
      Return to start: <input type="checkbox" id="returnToStart" {% if return_to_start is defined and return_to_start %}checked{% endif %}><br>
      <input type="submit">
    </form>
  </div>
  <div id="infomessage" class="alert alert-info text-center" role="alert" style="display: none;"></div>
  <div id="errormessage" class="alert alert-danger text-center" role="alert" style="display: none;"></div>
  <div class="py-5 text-center">
    Some notes:<br>
    -The first address in the list is the start point.<br>
    -If 'Return to start' is not checked, the last address in the list is the end point.<br>
    -If 'Return to start' is checked, the first address is also used as the end point.<br>
    -All locations other than the start and end will likely be reordered to minimize travel time.<br>
    -The 'Route ID' that gets assigned to the route after creation is random and uniquely identifies this set of addresses.  You don't really need to think about it other than using it to link to the route.<br>
    -Make sure to specify the city and state for each address.  If you don't, it's likely that Google will helpfully pick an address hundreds/thousands of miles away from the others, the directions between the two will be massive, and there'll be a database error when the system tries to save the route.  No impact to other stuff but it means that nothing will happen when you click the "Submit" button.
  </div>
</div>
<script>

var setMessages = function(infoMessage, errorMessage) {
    var errNode = $("#errormessage")[0];
    var infNode = $("#infomessage")[0];
    errNode.innerText = errorMessage;
    errNode.style.display = (errorMessage.length == 0 ? "none" : "block");
    infNode.innerText = infoMessage;
    infNode.style.display = (infoMessage.length == 0 ? "none" : "block");
}

var errorMessage = function(message) {
    setMessages("", message);
}

var infoMessage = function(message) {
    setMessages(message, "");
}

var clearMessages = function() {
    setMessages("", "");
}

var addRoute = function() {
    infoMessage("Working...");
    var addrs = document.getElementById("placesArea").value.trim().split(/\r?\n/);
    if (document.getElementById("returnToStart").checked && addrs[0] != addrs[addrs.length-1]) {
        addrs.push(addrs[0]);
    }
    if (addrs.length > 25) {
        errorMessage("Too many waypoints provided.  Maximum is 25, counting start and end (sorry, Google's rules, not mine).");
        return;
    }
    var request = {addresses: addrs};
    // https://stackoverflow.com/questions/6396101/pure-javascript-send-post-data-without-a-form
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        console.log(this);
        if (this.readyState != 4) {return;}
        if (this.status == 200) {
            infoMessage("Redirecting...");
            console.log(this);
            console.log(this.responseText);
            var data = JSON.parse(this.responseText);
            console.log("RESPONSE:");
            console.log(data);
            if ('redirect' in data) {
                window.location.replace(data['redirect']);
            } else {
                errorMessage("An very strange error occurred.  Retrying may or may not help.");
            }
        } else {
            clearMessages();
            if (this.status >= 500) {
                errorMessage("An unspecified error occurred.  Retrying may or may not help.");
            } else if (this.status >= 400) {
                var data = JSON.parse(this.responseText);
                if ('message' in data) {
                    errorMessage(data["message"]);
                } else {
                    errorMessage("An unspecified error occurred.  Retrying won't help.");
                }
            }
        }
    };
    xhr.open("POST", "{{ base_path }}/store_route", true);
    xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    xhr.send(JSON.stringify(request));
}
</script>

{% endblock %}
